<div class="container mt-5">
  <h1 class="title">Add a new cocktail</h1>
  <div>
    <%= simple_form_for [@cocktail] do |f| %>
      <%= f.input :name %>
      <%= f.button :submit, class: 'button' %>
    <% end %>
  <%= link_to "back to all cocktails", cocktails_path, class: 'button'%>
  </div>
</div>
